/* --------------------------------------------------------------- */
.sidebar {
    position: absolute;
    width: 6.5vw;
    height: 62vw;
    border-right: 2px solid #F0C929;
    z-index: -2;
}

/* --------------------------------------------------------------- */
ul {
    list-style-type: none;
}

.media li {
    margin-top: 1.5vw;
}

.media ul li a {
    margin: 1.5vw 6.5vw;
    width: 5vw;
    height: 5vw;
}


/* --------------------------------------------------------------- */

.contactPicture {
    margin-top: 10%;
    position: absolute;
    left: -1%;
    width: 45%;
    min-width: 190px;
    bottom: 198px;
}

.contactPicture img {
    display: block;
    width: 26.4vw;
    margin-left: -3%;
    margin-top: 16%;

}

.contactPicture .travelPicture {
    display: none;
    position: absolute;
    bottom: 0px;

}

/* ------------------------------------------------------------------------------------ */

#formDiv {
    width: 32%;
    background-color: #FBE6C2;
    text-align: center;
    margin-left: 741px;
    margin-top: -11%;
    margin-bottom: 0;
}

input,
#message,
#submit {
    width: 90%;
    text-align: left;
    margin: 1.18% 0;
    border: none;
    font-size: 1.3em;
    font-family: "Corbel";
    height: 42px;

}

input::placeholder,
#message::placeholder {
    color: rgb(177, 177, 177);
}

#name {
    margin-top: 0%;
}

#message {
    height: 270px;
}

textarea {
    resize: none;
}

#submit {
    width: 30%;
    text-align: center;
    background-color: #FFF;
    color: #000;
    margin-left: 48%;
    cursor: pointer;
}

h3 {
    font-family: "Audrey";
    font-size: 1.9em;
    font-weight: 400;
    padding-top: 5%;
    margin-bottom: 3%;
}

#emailConfirmation {
    color: #AC0D0D;
    font-family: "Corbel";
    display: none;
}


/* ------------------------------------------------------------------------ */

.emailLine {
    position: absolute;
    border-bottom: 3px solid #F0C929;
    width: 103%;
    margin-left: 3%;
    margin-top: 31.4vw;
    z-index:-1;
}

.emailLine p {
    font-family: "Audrey";
    font-size: 1.4vw;
    display: inline;
    margin-left: 22vw;
}

.emailLine p:nth-of-type(2) {
    margin-left: 2vw;
    font-family: "Corbel";
    font-size: 1.2vw;
}



/* ----------------------------------------------------------------------------- */


@media only screen and (max-width:1250px) {
    .media {
        width: 20%;
    }

    #formDiv {
        width: 47%;
        margin-left: 40%;
    }

    .emailLine p {
        display: none;
    }

    .contactPicture img{
        z-index:2;
    }

    .emailLine {
        width: 90%;
        margin-top: 33vw;
    }
}

@media only screen and (max-width:768px) {
    ul {
        display: flex;
    }

    .media {
        margin-bottom: 78px;
    }

    #formDiv {
        width: 80%;
        margin-left: 10%;
    }
    
    .contactPicture {
        bottom: -2px;
    }

    .contactPicture img {
        min-width: 190px;
    }

    footer {
        height: 158px;
    }

    #footerMedia {
        display: none;
    }

    footer p {
        padding-top: 62px;
    }

}
@media only screen and (max-width:337px) {
    .contactPicture img {
        min-width: 130px;
    }
}